body {
  background-color: ghostwhite;
  color: darkslategray;
  font-family: Arial, Helvetica, sans-serif;
}

.timer-container {
  text-align: right;
  color: limegreen;
}

h2 {
  text-align: center;
  font-weight: bold;
  margin: 5%;
}

a:link {
  color: limegreen;
}

a:visited {
  color: limegreen;
}

a:hover {
  color: lime;
  text-decoration: none;
}

a:active {
  color: limegreen;
}

.container {
  text-align: center;
}

#score-container {
  margin-top: 15%;
}

button {
  color: ghostwhite;
  font-weight: bold;
  background-color: limegreen;
  border-style: solid;
  border-color: darkslategray;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.choices-list {
  display: block;
}
