body {
    background-color: ghostwhite;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: right;
}

h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
}

a:link {
    color: limegreen;
}

a:visited {
    color: limegreen;
}

a:hover {
    color: lime;
    text-decoration: none;
}

a:active {
    color: limegreen;
}

/*.container {
    margin: auto;
    border: black;
    border-style: solid;
}*/

.col-sm {
    text-align: center;
}

/* p {
    text-align: center;
} */

button {
    color: ghostwhite;
    font-weight: bold;
    background-color: limegreen;
    border-style: solid;
    border-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}